/*
 *	v1.1
 *	Catalyst
 *	Author : LRN
 *  general.css
 *	1. Navigation
 *	2. Responsive Table
 *	3. Grid list and Thumbnail listing view
 *	4. Media query
 * 	5. Media query - Responsive Table
*/

a {
	cursor: pointer;
}

.no-margin-top {
	margin-top: 0px!important;
}
.l-bor-red {
	border:1px solid red !important /*used for CK editor, to overwirte CK editor css important added*/
}

/*Header St*/
	.navbar {
		border-radius: 0;
		margin-bottom: 0;
	}

	.navbar-inverse.navbar-fixed-top {
		-webkit-backface-visibility: hidden;
		position: fixed;
		z-index: 30;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height:100%;
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #fff;
	}

	/*Header White Bar St*/
	.l-beta-txt{
		color:red;
		font-family: 'proxima_novasemibold';
		font-size: 0.9em;
		line-height: 34px;
		margin-right: 10px;
	}
	
	.top-navbar {
		position: absolute;
		right: 15px;
		top: -55px;
		text-align: right;
		width: 300px;

	}

	.top-navbar ul {
		margin: 0;
		padding-left: 0;
	}

	.top-navbar li {
		display:inline-block
	}

	.top-navbar li a {
		color:#fff;
		font-size:13px;
		padding-left:5px;
		padding-right:5px;
	}

	.top-navbar li:last-child a {
		padding-right:0;
	}

	.navbar-header {
		position: relative;
	}

	.l-top-nav {
		float: right;
		margin-top: 45px;
	}

	.l-top-nav li {
		float:left;
		margin-left:20px;
	}
	.l-top-nav li:first-child{
		margin-left:0;
	}

	.l-top-nav li a {
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.l-top-nav li .dropdown-menu {
		margin-top: 17px;
		right:0;
		left:auto;
	}

	.l-top-nav li .dropdown-menu li{
		margin-left:0;
		float:left;
		width:100%;
	}

	.l-top-nav li .dropdown-menu li a:hover{
		background:#ffe7b1;
	}

	.l-top-nav li .dropdown-menu:before,
	.l-top-nav li .dropdown-menu:after {
		background: none repeat scroll 0 0 transparent;
		border-color: transparent transparent #fff;
		border-style: solid;
		border-width: 0 7px 8px;
		content: "";
		left: 126px;
		position: absolute;
		top: -8px;
	}

	.l-top-nav li .dropdown-menu:before  {
		border-color: transparent transparent rgba(0,0,0,.05);
		border-width: 0 8px 10px;
		left: 125px;
		top: -11px;
	}

	.l-top-nav .zmdi {
		color: rgba(0,0,0,0.38);
	}

	.l-top-nav .zmdi:hover:before {
		color: #014f91
	}

	.l-top-nav .zmdi:before	{
		font-size: 30px;
	}

	.l-top-nav .zmdi-chevron-down:before	{
		font-size: 18px;
		top: -1px;
	}

	.l-top-nav li .zmdi-chevron-down{
		margin-top: 1px;
		margin-left: 10px;
	}
	.l-top-nav li.dropdown:hover a.dropdown-toggle .zmdi{
		color: #014f91;
	}
	.l-top-nav .l-beta-txt{
		line-height:14px;
		margin-right:0;
	}

	.dropdown.open .zmdi{
		color: #014f91;
	}

	.l-loggedin-nav .l-top-nav {margin-top: 18px;margin-bottom: 0;}


	.l-main-nav-bar .l-beta-txt{
		color:#fff;
		font-size:0.8em;
		line-height:44px;
	    float:left;
	}
	/*Header White Bar En*/

	/*Header Blue Bar St*/
	.l-main-nav-bar {
		background-color: #0277bd;
		border-top: 1px solid #acacac;
		min-height: 5px;
	}

	.l-main-nav-bar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.l-main-nav-bar .navbar-collapse {
		text-align: center;
	}

	.l-main-nav-bar .navbar-nav > li {
		margin-left: 0;
		margin-right: 0;
	}

	.l-main-nav-bar .navbar-nav li:first-child {
		margin-left:0;
	}

	.l-main-nav-bar .navbar-nav li:last-child {
		margin-right:0;
	}

	.l-main-nav-bar .navbar-nav > li > a {
		color:#cbdced;
		font-size:0.8em;
		font-weight:400;
		letter-spacing: 0.02em;
		padding: 16px 5px 9px;
		text-transform:uppercase;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;

	}

	.l-main-nav-bar .navbar-nav > li > a:hover {
		background-color: rgba(0, 0, 0, 0.1);
		color: #cbdced;
	}

	.l-main-nav-bar .navbar-nav>.active>a,
	.l-main-nav-bar .navbar-nav>.active>a:focus,
	.l-main-nav-bar .navbar-nav>.active>a:hover{
		background:#014f91;
		color:#fff;
		font-family: 'proxima_novasemibold';
	}

	.l-main-nav-bar .navbar-nav>li.l-deactive>a,
	.l-main-nav-bar .navbar-nav>li.l-deactive>a:focus,
	.l-main-nav-bar .navbar-nav>li.l-deactive>a:hover{
		background:#0277bd;
		color:#aaa;
		cursor: default;
	}

	.l-main-nav-bar .navbar-nav > li .zmdi {
		height: 30px;
		width:100%;
	}

	.l-main-nav-bar .nav .zmdi:before {
		font-size:32px
	}
	/*Header Blue Bar En*/

/*Header En*/

/* Body Container St*/
	.l-main-panel {
		padding-top: 145px;
	}

	.l-main-panel h1.l-page-tlt {
		font-weight: normal;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.info-container {
		border: 0 solid #e4e7ec;
		margin-bottom: 20px;
	}

	.info-container .table-responsive{
		background: #fff;
	}


	/* Dashboard & Prospects Div Table Structure St*/
		.table-top-row {
			margin-top:10px;
			margin-bottom:15px;
		}

		.l-table {
			display: table;
			font-size: 0.9em;
			width: 100%;
		}

		.l-table-row {
			display: table-row;
		}

		.l-table-heading {
			display: table-header-group;
		}

		.l-table-cell, .l-table-head {
			border-bottom: 1px solid #ddd;
			display: table-cell;
			padding: 8px;
		}

		.l-table-heading {
			font-weight: 700;
			display: table-header-group;
		}

		.l-table-body {
			display: table-row-group;
		}

		.label {
		display: inline-block;
		padding:6px 10px 4px;
		font-size:0.9em;
		font-weight:normal;
		line-height: 1em;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius:4px;
		}

		.label-draft {
			background-color: #e4a304;
		}

		.label-new {
			background-color: #10c469;}

		.label-active {
			background-color: #35b8e0;
		}

		.label-passive {
			background-color: #999999;
		}

		.label-expired {
			background-color:#eeeeee;
			color:#777;
		}

	/* Dashboard & Prospects Div Table Structure  En*/

	/* Common Sub Navigation St*/
		ul.tabs li {display: none}

		.l-sub-nav-panel{ margin:0 auto 20px;float:left;width:100%;}

		.l-sub-nav { margin: 0 auto; list-style: none; position: relative; float:left}

		.l-sub-nav li { display: inline; float:left; margin-right:47px;}

		.l-sub-nav li a,
		.l-sub-nav li.l-deactive span {
			font-family:'proxima_novasemibold';
			font-size: 1.2em;
			display: table;
			 padding: 3px 24px;
			text-decoration: none;
			color: #35ABE6;
			color: rgba(3,150,224,.80);
			text-transform: capitalize;
			letter-spacing: .8px;
			transition: color .28s ease;
			-webkit-transition: color .28s ease;
			-moz-transition: color .28s ease;
			-ms-transition: color .28s ease;
			cursor:pointer;
		}

		.l-sub-nav li.l-deactive span {
			color: #c9c9c9;
			cursor: default;
		}

		.l-sub-nav li.l-current_page a {color: rgba(3,150,224, 1); font-family:'proxima_nova_rgbold'; cursor:pointer}

		.l-sub-nav li a:hover { color: #0277bd; }

		.l-sub-nav li.l-current_page a:hover{color: rgba(3,150,224, 1);}

		.l-sub-nav li {display: inline-block;min-width: 80px;float: none;}

		.l-sub-nav li a {position: relative;overflow: hidden;text-align: center;float: none;width: 100%;padding: 3px 20px;}

		#l-active-line { position: absolute; bottom: -2px; left: 0; width: 100px; height: 4px; background: #FFA000; }

		.l-sub-nav-rht{ float:right}
	/* Common Sub Navigation St*/

/* Body Container En*/



/*
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.info-container .table {margin-bottom:0; font-size: 0.9em;}*/

/*.top-nav-bar .nav{ padding-top:28px}
	.navbar-fixed-bottom .navbar-collapse{max-height:100%}
	.navbar-inner {min-height: auto;}
	.navbar-search{
    background:#02847e;
    color:#fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
	}
.navbar-search input{ background:transparent; border:0;box-shadow:none}
	*/




.input-group  {border:1px solid rgba(0, 0, 0, 0.2);padding-right:0px }

.input-group .l-sort-toggle .input-group-btn .btn{
    font-size:initial;
}
.input-group input{ border:0;}

.input-append { border: 0;}

.input-append input {border: 1px solid #d6d3d4;}

.input-group input:focus {box-shadow: 1px 1px 32px 4px rgba(0, 0, 0, 0);}

.input-group .zmdi-magnify{ padding-right:5px}



/* Prospects & Partners Css ST*/

.l-ac-type{ float:left; width:100%;font-size:0.9em;margin-top:5px;}

.l-add-bookmark .zmdi{ color:#9e9e9e}
a.l-user-icon{ cursor:default}
.l-user-icon .zmdi.zmdi-account:before{color: #0277bd;}

.l-bookmark-row{ background-color: #fcf3e2; }

.l-bookmark-row .l-add-bookmark .zmdi{ color:#ffa000}

.table-hover>tbody>tr.l-bookmark-row:hover { background-color: #fcf3e2; }
/* Prospects & Partners Css EN*/
.panel-default>.panel-heading .panel-title{ margin-top:8px}
.l-search-courses-wrap .btn-action{
    position: absolute;right: 1px;
    z-index: 2;top: 1px;
    color: rgba(0, 0, 0, 0.38);
    height: 44px;
    line-height: 44px;
    border-radius: 0;
    vertical-align: middle;
    padding: 0;
}

.info-container .l-sub-tlt-panel{ padding-top:13px}
.l-sub-tlt-panel{ float:left;width:100%;padding:5px 0 10px}
.modal-body .l-sub-tlt-panel{padding:25px 0}
h2.l-sub-tlt{ color:#2a2a2a; color: rgba(0, 0, 0, 0.87);margin:0;}
.l-responsive-tbl th{vertical-align: bottom;border-bottom: 2px solid #ddd;}
.table-search .btn{ padding-top:5px; padding-bottom:5px}
/* Grid list and Thumbnail listing view starts */
.thumbnail{position: relative;margin-bottom: 20px;padding: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;transition: all 0.2s ease-out;-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	border:0; float:left}
.thumbnail:hover{-webkit-box-shadow:1px 1px 32px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow:1px 1px 32px 4px rgba(0, 0, 0, 0.1);box-shadow: 1px 1px 32px 4px rgba(0, 0, 0, 0.1);background: #FCF5E5;}
.l-thumb-img-wrap{position: relative;}
.thumbnail img, .thumbnail a>img{ width:100%;/* height:211px */height:auto}
.grid-group-item .thumbnail{ padding-bottom:20px}
.grid-group-item .thumbnail img, .grid-group-item .thumbnail a>img{min-height: 275px}
.l-course-discription{ color: #333; margin-top: 10px;}
.l-short-desc-ellipsis {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  font-size:0.9em
}

.l-short-desc-ellipsis:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;}

.l-short-desc-ellipsis:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.thumbnail:hover .l-short-desc-ellipsis:after {background:#FCF5E5}

 .pagination {
    margin: 20px 0 0;
}
.l-related-courses .l-short-desc-ellipsis:after {background:#f6f6f6}
.l-related-courses .thumbnail:hover .l-short-desc-ellipsis:after {background:#f6f6f6}

.l-no-user-msg{font-size: 15px;line-height: 20px;letter-spacing: .01em; text-align:center;padding-bottom:27px}

/* .list-group-item .l-more-info-menu .dropdown-menu .zmdi.zmdi-bookmark-outline:before, .list-group-item .l-more-info-menu .dropdown-menu .zmdi.zmdi-bookmark{ font-size:27px} */
.list-group-item-heading{color:#0277bd;font-family:'proxima_novasemibold',sans-serif;font-size:1.3em;margin-bottom: 6px;line-height: normal;}
.list-group-item .list-group-item-heading{ white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-bottom:1px}
.thumbnail:hover .underline {border-bottom: 1px solid #0277BD;}
.l-course-content{font-size:15px;}
.l-course-content,
.l-course-content a{
    color:#666;
}

.l-course-content .small{ font-size:0.9em;font-style:italic;margin-top: 5px;}

.l-course-details .l-fixed-col{ position:inherit;width:100%;font-size:0.9em;}

a .l-fixed-col .version-info,
.version-info{
    color:#000;
    font-size: 13px;
}

.l-language-panel{
    color:#666;
    line-height:16px;
    font-size:0.8em;
    text-align:left;
    word-wrap: break-word;
    white-space: pre-line;
    min-height:100px;
}

.l-language-panel .l-language-count{ position:absolute; bottom:0; }
.l-fixed-col a, .l-language-panel a{ color:#9e9e9e;}
.l-fixed-col a:hover, .l-language-panel a:hover{color:#2483c3;}
.l-language-panel  a.l-more-link{ color:#2483c3;font-style:italic}
.list-group-item-text{margin: 0 0 11px;}
.btn-default.active-btn {color: #014f91;}
.btn-default.active-btn:active, .btn-default.active-btn:focus {background: #ffffff;}
a.btn-default:active,
a.btn-default:focus,
.btn-default.active-btn:active,
.btn-default.active-btn:focus {
    outline: none;
    outline-style: none;
    outline: 0;
}

.list-group .thumbnail .caption{ padding:32px 15px 15px;}

.l-course-facility {color: #666;}
.l-course-facility .zmdi:before{font-size:21px}
.l-space{margin-right: 10px;}
.l-course-duration {font-style: normal;}
.l-course-duration .zmdi-time:before { font-size: 14px; margin-right:5px;}
.l-version-panel  .l-i-txt{font-size: 12px;color: #666;}
.l-course-facility i{margin-right: 5px;}
.l-bookmark-holds {position: absolute;right: 15px;cursor: pointer;top: -3px;}
.grid-group-item .l-bookmark-holds{ bottom:10px;top:auto; right:10px}
.grid-group-item .thumbnail .caption{float: left;width: 100%;}
.grid-group-item .thumbnail .l-course-discription, .grid-group-item .thumbnail .l-language-panel{ display:none}
.grid-group-item .caption .l-bookmark-holds {
    bottom: 10px;
}
.list-group .grid-group-item .thumbnail .caption{padding:15px 15px 30px;}

.grid-group-item .list-group-item-heading{white-space: normal;text-overflow: inherit;}

.list-group-item .l-bookmark-holds .zmdi:before{
    padding-left:0;
    padding-right:0;
    padding-bottom: 2px;
}

.l-bookmark-holds .zmdi-bookmark-outline {
    background: #fff;
}

.l-bookmark-holds .zmdi-bookmark-outline:before,
.l-bookmark-holds .zmdi-bookmark:before {
    font-size: 36px;
    margin-top: 5px;
    display: inline-block;
    padding: 3px 0 0;
}
.l-bookmark-holds .zmdi-bookmark{color: #ffc107;}

.l-bookmark-holds .zmdi-bookmark-outline:before { color: #bbbbbb;}

.l-bookmark-holds:hover .zmdi-bookmark-outline:before {color: #ffc107; background: #fff;}
.l-more-info-menu {
    position: absolute;
    height: 38px;
    width: 37px;
    background: rgba(0,0,0, 0.6);
    color: #ffffff;
    top:0;
    left: 0;
    text-align: center;
    padding: 12px 0 0;
    cursor: pointer;
    display: block;
    z-index: 2;
}
.l-more-info-menu.open {	z-index: 3;}

.l-more-info-menu span {height: 100%;width: 100%; position: absolute; display: block; top: 0; padding: 13px 0 0;}
.l-more-info-menu:hover ,
.l-more-info-menu:active ,
.l-play-button .l-valign:hover {
    color: rgba(255, 186, 25, 0.2);
    color: #ffe7b1;
}
.l-video-play{ position:relative; float:left; width:100%;}

.l-video-play:hover .l-play-button .l-valign {color: rgba(255, 186, 25, 0.2);color: #ffffff;}

.l-more-info-menu .dropdown-menu li a:hover{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.l-more-info-menu .dropdown-menu li a:hover{background: #ffe7b1; color: rgba(0, 0, 0, 0.87);}

.l-more-info-menu li.l-deactive{color: rgba(0,0,0,0.87);background-color: #e1e1e1; cursor:auto}
.l-more-info-menu li.l-deactive .zmdi{color: #666;}
.l-more-info-menu .dropdown-menu li.l-deactive a:hover{-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
.l-more-info-menu .dropdown-menu li.l-deactive a:hover{color: rgba(0, 0, 0, 0.54);background-color: #e1e1e1; cursor:auto}


.zmdi-more-vert:before {font-size: 37px;}
.list-group-item .dropdown-menu .zmdi:before{top: 4px;left: -8px;}
.l-play-button {position: absolute;	text-align: center;display: inline-block;top: 0;left: 0;right: 0;bottom: 0;width: 100%;	color: #ffffff;color: rgba(255,255,255, 0.7);z-index: 1;cursor: pointer}
.l-video-play .l-play-button {visibility:hidden; opacity: 0;transition: opacity .4s ease 0s;-webkit-transition: opacity .4s ease 0s;-ms-transition: opacity .4s ease 0s;-moz-transition: opacity .4s ease 0s;}
/*.list-group-item .l-play-button,.list-group-item .thumbnail .label-new-holds {width: 268px;margin: 0;}
.list-group-item .thumbnail .label-new-holds {width: 264px;}*/
.thumbnail .label-new-holds{position: absolute;right: 59px;top: 0;}
.thumbnail .label-new-holds .label{
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color:/*#0396e0*/#f7f7f7;
    color:#666;
    border:1px solid #e4e4e4;
    text-transform:uppercase;
    font-family:'proxima_nova_rgbold';
    font-size:0.7em;
    position:relative;
    padding: 7px 11px 3px 28px;
}
.thumbnail .label-new-holds .label .zmdi{ font-weight:bold}
.thumbnail .label-new-holds .label .zmdi:before{position:absolute;top: 4px;left: 7px;}
.thumbnail .label-new-holds .label .zmdi-star-circle:before{color:#7cd921; font-weight:normal}
.thumbnail .label-new-holds .label .zmdi-refresh-alt:before{color:#0396e0}
.grid-group-item .thumbnail .label-new-holds{bottom: 6px; top:auto;right: 44px;}
.l-course-sub-tlt{ font-family:'proxima_novasemibold',sans-serif; display:inline-block;color: #666;}
.thumbnail a{ text-decoration:none;}
.thumbnail a img{ border:0}

/* .l-play-button:before { content: ""; height: 100%; vertical-align: middle; display: inline-block;margin-top: 0;} */
.l-play-button:before{
    content: "View Course";
    display: block;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffffff;
    font-size:16px;
}

.l-play-button .l-valign{
    vertical-align: middle;
    text-align:center;
    display: inline-block;
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    padding: 21px 0 0;
    overflow: hidden;
    cursor: pointer;
}

.l-play-button .l-valign .zmdi-eye:before{ position:absolute; top:42%; left:0; right:0;}
.zmdi-play-circle-outline:before {font-size: 56px;}
.l-valign .zmdi-eye:before {font-size: 46px;}
.l-play-button {width: 100%;}

.list-group-item .zmdi:before {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 3px;
    padding-right: 3px;
}
/* Grid Listing cource starts */
.item.list-group-item {background-color: transparent;border:0;margin-bottom: 0;}
.list-group-item .thumbnail {margin-bottom: 0;}
.list-group-item .l-thumb-img-wrap{ float:left}
/* .item.list-group-item:first-child {padding-top: 0;} */
.item.list-group-item {float: none;width: 100%;background-color: transparent;margin-bottom: 0;border:0;}
.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {background-color: transparent;}
.list-group-item .thumbnail{margin-bottom: 0;}
.list-group-item .l-course-content ~ .l-fixed-col{text-align: right;}
.item.list-group-item:nth-of-type(odd){background-color: transparent;}
.item.list-group-item:before, .item.list-group-item:after{display: table;content: " ";}
.item.list-group-item img{float: left;}
.item.list-group-item:after{clear: both;}
.item.list-group-item .thumbnail{float:left;width:100%;}
.item.list-group-item .thumbnail img{ width:264px;}
.item.list-group-item .caption{margin-left:264px}
.item.list-group-item .caption .l-course-details{position: relative;min-height: 60px;float: left;width: 100%; padding-bottom:10px}
.item.list-group-item .l-course-details .l-course-content{ margin-right:190px;}
.item.list-group-item .l-course-details .l-fixed-col{ position:absolute;width:130px;right :0;top:2px;}
.item.list-group-item .l-course-details .l-fixed-col.l-language-panel{ top: -25px; text-align: right}
.list-group-item .clearfix{display: none;}
.l-list-sx-heading{ display:none}

.l-course-list-wrap{ /* margin-top:68px */margin-top:30px}
.l-dummy-txt{ text-decoration:line-through !important}
/*Catalog Sub Topic Panel ST*/
.l-sub-topic-panel{ background:#fff; border:1px solid #0396e0;margin-bottom:27px;}
.l-sub-topic-panel h4{ background:#0396e0;color: #BFE4F7; color:rgba(255,255,255, 0.70); font-size:18px; margin:0; padding:15px 20px 13px;}
.l-sub-topic-panel li{padding:0 20px 25px;}
.l-sub-topic-panel li:first-child{padding:25px 20px 25px;}
.l-sub-topic-panel li a{color:#003e7e; display:inline;text-decoration:none;border-bottom: 1px solid #bfcfdf}
.l-sub-topic-panel li a:hover{text-decoration:none;border-bottom: 1px solid #fff}
.l-sub-topic-panel li a.active{ color: rgba(0,0,0,0.87);border-bottom: 1px solid #fff;cursor:default}
.l-sub-topic-panel li a.active:hover{ border-bottom: 1px solid #fff;cursor:default}
/* Catalog Sub Topic Panel EN */

/*Catalog filter Panel ST*/
.l-filter-panel{ background:#eeeeee; float:left;width:100%;position: relative;z-index: 1;}
.l-filter-panel .title{
    color:#333;
    font-size:1.1em;
    margin:0;
    padding:20px 4px 16px 21px;
    font-family:'proxima_nova_rgbold', sans-serif;
    line-height:25px;
}

.l-filter-panel a.btn-default.l-clear-btn{
    font-size:0.9em;
    font-family:'proxima_nova_rgregular', sans-serif;
    background:#e0e0e0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; margin:15px 13px 0 0;
    color: #333;
    padding: 6px 12px;
    border: 1px solid rgba(0,0,0, 0.20);
    height: auto;
}

.l-filter-panel .title a.btn-default.l-clear-btn:hover{ background:#ffffff;}

.l-filter-panel	ul{ list-style-type: none;display: block;float: left;width:100%;}
.l-filter-panel	ul li{border-top:1px solid #e2e2e2;padding:0;font-family:'proxima_novasemibold', sans-serif; float:left;display: block;width:100%;}

.l-filter-panel	ul li:hover {
    background: #dad9d9;
}

.l-filter-panel	ul li a{
    padding:16px 20px 12px;
    color: #666;
    display:block;
    text-decoration:none;
    font-family:'proxima_novasemibold';
}
.l-filter-panel	ul li a.l-factive {color: rgba(0,0,0, 0.8);}

.l-filter-panel	ul li a:hover{ text-decoration:none}

.l-filter-panel	ul li a .zmdi-plus, .l-filter-panel	ul li a .zmdi-minus{ float:right}

.l-filter-panel	ul li .l-filter-options.l-close-panel{ display:none}

.l-filter-panel	ul li .l-filter-options.l-open-panel{ display:block}

.l-filter-panel	ul li .l-filter-options{float:left;width:100%;padding:13px 20px 23px;}

.l-filter-panel	ul li .l-filter-options .l-filter-list li{ float:left;width:100%;position:relative}

.l-filter-panel	ul li .l-filter-options .l-filter-list li{ border-top:0;}

.l-filter-panel	ul li .l-filter-options .l-filter-list .l-checkbox{ top:6px;left:0;width:20px;height:20px}

.l-filter-panel	ul li .l-filter-options .l-filter-list li .input-md input[type='checkbox'] + .f-label:before{width:20px;height:20px;}

.l-filter-panel	ul li .l-filter-options .l-filter-list li .input-md input[type='checkbox'] + .f-label:after{
    /*top: 1px;left: 7px;width: 7px;height: 14px;*/
    top: 2px;
    left: 7px;
    width: 7px;
    height: 12px;
}

.l-filter-panel	ul li .l-filter-options .l-filter-list.l-filter-checkbox-list li{ padding:9px 0 8px 30px;}

.l-filter-panel	ul li .l-filter-options .l-filter-list.l-filter-checkbox-list li label{
    margin-bottom:0;
    font-family:'proxima_novasemibold';
    color:#666;
}

.l-sub-nav-rht .btn {
    margin-top: 14px;
}

.footer {
    /*position: fixed;*/
    bottom:0;width: 100%;
    min-height: 50px;
    background-color: #eeeeee;
    z-index:1003;
    padding: 15px 25px 15px;
    color:#333;
    border-top:1px solid #ddd;
    font-size:0.9em;
}
.footer.l-deactive .l-footer-nav, .footer.l-deactive .l-footer-nav a{color:#c9c9c9;cursor:default;text-decoration:none}
.footer .l-footer-nav a{ font-family:'proxima_nova_rgregular', sans-serif;padding: 0 10px;}

.footer .l-footer-nav .zmdi:before{ font-size:1em;}

.l-video-play:hover .l-play-button{
	display: block;
	background: rgba(0,0,0, 0.75);
	color: #ffffff;
	color: rgba(255,255,255, 1);
	opacity: 1;
	visibility: visible;
}

.l-visible-tab{ display:none }

.footer .l-footer-nav{ margin-bottom:0; text-align:center}

.footer .l-footer-copyright{ width:100%; text-align:center}

.l-filter-panel a.btn-default.l-clear-btn{ margin:16px 13px 0 0;}

/*Mobile Media ST*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.item.list-group-item .l-course-details .l-course-content{ margin-right:180px;}
}

@media only screen and (max-width : 767px) {

	.l-main-panel {
         padding-top: 110px;
    }
    /*
    .navbar-inverse.navbar-fixed-top {
        position: relative;
    } */
    .navbar-inverse .navbar-header{
        margin: 0 auto;
        float: none;
    }

    .navbar-inverse.l-loggedin-nav .navbar-header {
        margin: 0;
        float: left;
    }

	.navbar-inverse .navbar-brand.site-logo{
		background-position: 0 5px;
	}

    .top-nav-bar {
        height: 45px;
    }

    .navbar-inverse .navbar-brand img {
        width: 100%;
    }

    .l-loggedin-nav .top-nav-bar{
        padding: 0 6px;
    }


	.l-main-nav-bar .navbar-nav li,
    .l-main-nav-bar .navbar-nav li a{
        height:auto;
    }

	.l-main-nav-bar .navbar-nav > li .zmdi{
        margin-bottom:0;
		height:auto;
    }

	.navbar-collapse,
    .navbar-fixed-top .navbar-collapse.in {
        position: fixed;
        right: -80%;
        top: 93px;
        z-index: 20;
        height: 100%;
        width: 90%;
        background:  #ffffff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

	.navbar-fixed-top .navbar-collapse.in{
        right: 0;
        padding-left:0;
        background: #ffffff;
        border:1px solid #000;
        margin-left:0px;
        margin-right:-30px;
    }

    .l-main-nav-bar .l-page-tlt{
        float:left;
        color:#ffffff;
        margin:12px 0;
        font-size: 1.5em;
    }

    .navbar-toggle.l-burger-nav {
        padding: 0;
        position: absolute;
        right: 8px;
        top: 14px;
        margin: 0;
    }

    .navbar-nav.l-navbar-sm {
        margin: 10px 0 0;
        float:left;
        width:100%;
        background:#fff;
    }

    .l-main-nav-bar .navbar-nav { height:auto;}

    .navbar-nav.l-navbar-sm li{
        width:100%;
        text-align:left;
        float:left;
    }

    .l-main-nav-bar .navbar-nav > li{
        margin-left:0;
        margin-right:0;
    }

    .l-main-nav-bar .navbar-nav > li > a{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .l-main-nav-bar .navbar-nav > li .zmdi{
        width:auto;
        padding-right:10px;
    }

    .navbar-nav.l-navbar-sm .l-extra-nav ul{
        background:#fff;
        float: left;width: 100%;
        padding-top: 10px;
        border-top:1px solid #e0e0e0;
        margin-top: 12px;
    }

    .navbar-nav.l-navbar-sm .l-extra-nav ul li a{
        float: left;
        width: 100%;
    }

	.l-main-nav-bar .nav.navbar-nav > li > a:hover .zmdi:before ,
    .l-main-nav-bar .nav.navbar-nav > li.active > a .zmdi:before{
        color: rgba(2,119,189,0.87);
	}

	.l-main-nav-bar .navbar-nav>li.l-deactive>a,
    .l-main-nav-bar .navbar-nav>li.l-deactive>a:focus,
    .l-main-nav-bar .navbar-nav>li.l-deactive>a:hover {
        color: #aaa;
        background: #fff;
        cursor: auto;
	}
	.l-main-nav-bar .navbar-nav>li.l-deactive>a .zmdi:before,
    .l-main-nav-bar .navbar-nav>li.l-deactive > a:hover .zmdi:before {
        color: #aaa;
	}

	.l-main-nav-bar .navbar-nav > li > a,
    .navbar-nav.l-navbar-sm .l-extra-nav ul li a {
        text-transform: initial;
        color:#000;
        font-size: 1.1em;
        padding: 15px 30px 15px 30px;
    }

	.l-main-nav-bar .nav.navbar-nav > li > a .zmdi:before{top:2px;}


	.l-main-nav-bar .navbar-nav > li > a:hover,
    .navbar-nav.l-navbar-sm .l-extra-nav ul li a:hover{
        background: #fff;color:rgba(2,119,189,0.87);
        text-decoration:none;
    }

	.l-main-nav-bar .navbar-nav>.active>a,
    .l-main-nav-bar .navbar-nav>.active>a:focus,
    .l-main-nav-bar .navbar-nav>.active>a:hover{
        background: #fff;
        color:rgba(2,119,189,0.87);
    }

	.l-main-nav-bar .nav .zmdi:before{ font-size:20px;color:rgba(0,0,0,0.54);}

	.navbar-fixed-top .navbar-collapse{min-height:100%;}

	.l-main-nav-bar .navbar-nav > li{margin-left:0; margin-right:0;}

	.l-main-nav-bar.l-bar-fixed .navbar-collapse.in{top: 44px;}

	.l-main-nav-bar.l-bar-fixed .navbar-collapse{top: 44px;}

	.list-group-item .l-thumb-img-wrap{width:174px;}

	.item.list-group-item .thumbnail img{ width:174px; height:139px;}

	.item.list-group-item .caption{margin-left: 174px;}

	.grid-group-item .thumbnail a img{ height:auto;}

	.grid-group-item .thumbnail .l-language-panel{ display:none;}
	.grid-group-item .l-version-facility-pan.visible-xs{display:none !important;}

	.grid-group-item .l-language-panel.visible-xs{display:none !important;}

	.grid-group-item  .l-course-facility.hidden-xs{display:block !important;}

	.grid-group-item  .l-fixed-col.hidden-xs{display:block !important;}

	.l-version-facility-pan {
        padding:10px 10px 5px;
        float:left;
        width:100%;
    }

    .l-version-facility-pan .l-version-panel {
        display: inline-block;
        margin-right: 20px;
        float: left;
    }

	.l-version-facility-pan .l-course-facility {
        margin: 0;
        padding: 10px 0 0;
        float: left;
    }
	.l-select-dd-wrap.l-records-dd{width:80px}
    .item.list-group-item .l-course-details.l-course-discription,
    .item.list-group-item .l-course-discription .l-course-content,
    .item.list-group-item .l-fixed-col.l-language-panel{
        display: none;
    }
    .item.list-group-item .l-course-details .l-course-content {margin-right: 0;}

    .item.list-group-item .l-course-content ~ .l-fixed-col {top: auto;left: 100px;bottom: 12px;}

    .l-sub-nav li {
        margin: 0;
    }

    .l-filter-panel{
        width:100%;
        height: 100%;
        min-height: 100%;
        position:fixed;
        top:0;
        bottom:0;
        z-index:35;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        margin-left:0px;
        margin-left:-30px;
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
        overflow-y: auto;
    }

    .l-filter-close{left:-100%;}

    .l-filter-open{left:30px;}

    .l-course-list-wrap{ margin-top:0;}

    .row.l-filter-labels.l-filter-mobile .col-md-12{ padding-left:30px;}

    .l-xs-filter-sort{ margin-bottom:20px;}

	.l-course-type-xs{ display:none;}

	.thumbnail{ width:100%;}

	.container-fluid.l-main-nav-bar{
        float: left;
        width: 100%;
        position: relative;
    }

	.l-loggedin-nav .container-fluid.l-main-nav-bar{
        padding-right: 50px;
    }

    .navbar-toggle {border: none;background: transparent !important;}

    .navbar-toggle .icon-bar {
        width: 28px;
        height:4px;
        transition: all 0.2s;
    }

    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 85%;
    }

    .navbar-toggle .middle-bar {opacity: 0;}

    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 14% 42%;
    }

    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
    }

    .navbar-toggle.collapsed .middle-bar {opacity: 1;}

    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
    }

    .top-navbar{
        position:static;
        right:auto;
        top:auto;
        width:100%;
        text-align:left;
        float:left;
    }

    .top-navbar ul{ float:left;width:100%;margin:0;padding:0}

    .top-navbar ul li{ float:left;width:100%;}

    .top-navbar li a{ color:#fff;font-size:0.9em;padding-left:5px;padding-right:5px}

    .top-navbar li:last-child a {padding-right:0}

    /* .l-loggedin-nav .l-top-nav{ margin-top: 16px;} */

    .l-top-nav li:last-child{ margin-right:0}

	.l-language-panel{ min-height:auto;}

	/*.info-container{ margin-top:15px}*/

	.navbar-nav.l-navbar-sm .l-extra-nav ul li.l-pdf-btn{
        text-align:center;
        margin-top:15px;
    }

	.navbar-nav.l-navbar-sm .l-extra-nav ul li.l-pdf-btn a{
        float:none;
        width:auto;
        text-align:center;
        padding: 0 15px;
    }

	.l-pdf-btn .btn.tertiary{
        height: 45px;
        line-height: 46px;
        text-transform: inherit;
        padding: 0 15px;
        font-size: 18px;
    }

	.navbar-nav.l-navbar-sm .l-extra-nav ul li.l-pdf-btn a.tertiary {
        background-color: #e0e0e0;
        color: #5D5D5D;
        font-family:"proxima_nova_rgregular"
    }

	.navbar-nav.l-navbar-sm .l-extra-nav ul li.l-pdf-btn a.tertiary:hover { background-color: #d5d5d5;}




    /* Prospects & Partners Css ST*/
    .l-ac-type{ float:none; width:auto;font-size:0.9em;margin-top:0; margin-left:5px}

    .l-sub-nav-panel{
        margin: 0 auto 10px;
    }
    /* Prospects & Partners Css EN*/
	.l-sub-nav-rht .btn{ margin-top:0}
    .l-sub-nav-panel .l-sub-nav-rht {
        margin: 0;
    }

    .l-short-desc-ellipsis {
        margin-right: 10px;
    }

    .l-more-link {
        display: block;
        margin-top: 10px;
    }

    .l-top-nav li .dropdown-menu {
        padding: 7px 0px;
    }

    .dropdown-menu>li>a, .dropdown-menu>li>span {
        padding: 14px 20px;
    }


    .l-filter-panel .title {
        padding-left: 30px;
    }

/* Dashboard & Prospects Div Table Structure St*/
	.l-table-heading {
		display:none
	}

	.l-table {
		border: 1px solid #ccc;
		display:  block;
	}
	.l-table-row {
		display:  block;
	}
	.l-table-cell {
		display:  block;
		padding: 3px 10px;
	}
	.l-table-body {
		display:  block;
	}
	.l-table-row {
		border-bottom: 1px solid #ccc;
	}
	.l-table-row .l-table-cell:last-child {
		border-bottom: 0
	}
    .l-table-row .l-table-cell {
        border: none;
        border-bottom: 1px solid #eee;
		padding: 10px 10px 10px 50%;
        position: relative;
        word-break: break-word;
    }

    .l-table-row .l-table-cell:before {
		content: attr(data-content);
		margin-top: 6px;
		padding-right: 10px;
        position: absolute;
		text-align: left;
        top: 6px;
        left: 6px;
		word-wrap: break-word;
        width: 40%;
    }
/* Dashboard & Prospects Div Table Structure En*/
	.l-visible-tab{ display:block }
}

@media only screen and (max-width : 480px) {
	.l-top-nav li{ margin-left:6px}
	.l-top-nav .l-beta-txt{ font-size:0.7em;}
	.list-group-item .l-list-sx-heading{ display:block;margin-bottom: 4px;float: left;color:rgba(123,123,123,0.87);}
    .list-group-item .l-list-md-heading{ display:none}
    .item.list-group-item .thumbnail{ padding:28px 10px 0 10px}
    .item.list-group-item .caption .l-course-details{ position:inherit}
	.item.list-group-item .caption {margin-left: 105px;}
    .list-group-item .l-thumb-img-wrap {  width:100%;}
    .item.list-group-item .thumbnail img{ width:100%;height:auto}
	.l-version-facility-pan{ padding-left:0;padding-right:0}
    .item.list-group-item .zmdi-play-circle-outline:before, .item.list-group-item .zmdi-eye:before { font-size:30px}
    .item.list-group-item .zmdi-more-vert:before{ font-size:24px}
	.item.list-group-item {padding-left: 10px;padding-top: 10px;}
	.item.list-group-item  .l-version-panel{ display:none}
	.item.list-group-item .l-course-duration { left: 220px; top: auto;}
	.l-filter-sort{ display:none}
	.list-group-item .caption{ display:none}

	.l-course-detail-card .list-group-item .caption{ display:block}
    .item.list-group-item .l-more-info-menu{padding: 7px 0 5px;height: 28px; width: 24px; display:none}
    .item.list-group-item .l-more-info-menu span{padding: 7px 0 5px;}
/*     .item.list-group-item .label-new-holds .label{padding: 5px 4px 3px;} */
    .l-course-sub-tlt{ display:block; float:left; font-size:13px}
    .item.list-group-item .l-course-content{ font-size:12px}
    .item.list-group-item .l-course-duration{position:absolute;left:66px; top:121px;font-size:11px}
    .item.list-group-item .l-course-details .l-fixed-col{position: absolute;right: 10px;bottom: 6px;}
    .item.list-group-item .l-course-facility i{margin-right: 10px;}
    .item.list-group-item .caption {margin-left: 110px; padding-bottom:0px}
    .item.list-group-item .l-course-content .small{ font-size:12px}
    .item.list-group-item .l-fixed-col > .l-i-txt {font-size: 11px;}
    .list-group-item .l-bookmark-holds{top: 0;}
	.l-course-type-xs{ display:block;float:right; font-size:14px; color:rgba(123,123,123,0.87);  font-style:italic; margin-top:5px}
	.list-group-item-heading{ font-size:16px; }
	.item.list-group-item .l-bookmark-holds, .item.list-group-item .caption .l-bookmark-holds{ right: 8px}
	.thumbnail .label-new-holds{right: 42px;}
	.l-sx-hide{ display:none}

	.list-group-item .list-group-item-heading{ white-space:normal;overflow:inherit;text-overflow: inherit;}

	.l-create-panel{ width:100%;}
	.l-create-panel .btn.btn-primary, .l-sub-nav-panel .btn.btn-primary{ float:right;height: 36px;font-size:1em;padding: 0 10px;}
	.l-create-panel .btn.btn-link{ float:left; margin-top:10px;padding-left:0;padding-right:0;font-size:0.9em}

	.l-hidden-mobile{ display:none}

/* Dashboard & Prospects Div Table Structure St*/
	.l-table-row .l-table-cell {
		padding-left:150px
	}
	.l-table-row .l-table-cell:before {
		width:120px;
	}
/* Dashboard & Prospects Div Table Structure En*/
}

@media only screen and (max-width : 380px) {
	.l-top-nav .l-beta-txt, .l-main-nav-bar .l-beta-txt{ display:none;}
}



.list-group-image
{
    min-height: 275px;
}